.addTodo {
  display: flex;
  align-items: center;
  margin-top: 15px;
  position: relative;
}

.input {
  background: rgb(4, 76, 100);
  font-size: 16px;
  padding: 0 6em 0 12px;
  box-sizing: border-box;
  border-radius: 20px;
  color: #fff;
  width: 100%;
  border: 1px solid transparent;
  height: 50px;
  line-height: 50px;
}

.input:focus {
  outline: none;
  border: 1px solid #eee;
}

input::-webkit-input-placeholder {
  color: rgba(250, 250, 250, 0.4);
}

.button {
  position: absolute;
  background: rgb(5, 80, 110);
  box-sizing: border-box;
  border: 1px solid rgba(5, 100, 140, .8);
  color: #eee;
  padding: 10px;
  border-radius: 16px;
  right: 8px;
  min-width: 4em;
  font-size: 14px;
}
