.select {
  flex: 1;
  position: relative;
  padding: 10px;
  background: rgb(4, 89, 117);
  border-radius: 18px;
  height: 36px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.selectItem input[type="radio"] {
  display: none;
}

.selectItem label {
  cursor: pointer;
  margin-right: 10px;
  color: rgb(255, 255, 255, 0.3);
  user-select: none;
}

.selectItem input:checked ~ label {
  color: #fff;
}
